html {
    --scrollbarBG:rgb(38, 41, 42);
    --thumbBG: rgb(75, 80, 83);
}
*::-webkit-scrollbar {
    width: 11px;    
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}


body {
    background-color: rgb(30, 32, 33);
    margin: 0px;
    scrollbar-color: rgb(75, 80, 83) rgb(38, 41, 42);
    scrollbar-width: thin;
}

/* About Me Section */
strong {
    display: inline-block;
}

.aboutme {
    padding: 50px 80px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #a5ffd6;
}

.aboutme div {
    background-color: #00607a;
    padding: 12px;
    border-radius: 26px;
}

.aboutme div * {
    padding: 0px;
}

/* About Me Links */
.links {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.block {
    
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 2em;
}

.block *:nth-child(1) {

    z-index: 40;
    background-color: #023047;
    border-radius: 4px;
    padding: 6px 12px;
}

.link {
    text-align: center;
}

.link a {
    color: #8ecae6;
}

.link a:hover {
    color: aliceblue;
}

.link a+* {
    flex-basis: 0px;
    display:inline;
    text-align: center;
    position:absolute;
    justify-content: center;
    
    margin-left: 50%;
    transform: translateX(-50%);
    top: 0px;
    opacity: 0;
    transition:
        top 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    pointer-events: none;
    /* color: #023047; */
}

.link:hover a+* {
    flex-basis: 0px;
    text-align: center;
    position:absolute;
    top:100%;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: 
        top 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    pointer-events:fill;
}

.link.inline{
    display: inline-flex;
    vertical-align: top;
}

.link.inline * {
    z-index: 40;
    color:inherit;
    vertical-align: top;
    text-align: center;
}

.link.inline a+* {
    z-index: 10;
    display: inline-block;
    position: relative;
    overflow: visible;
    
    left: -50%;    
    vertical-align: top;
    margin: 0px;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    justify-content: center;
    transform: translateX(-50%);
}

.link.inline:hover a+* {
    flex-basis: 0px;
}

.link.inline a+* a {
    display: block;
    position: absolute;
    flex-basis: 0px;
    margin: 0px;
    top: 0%;
    transition: 
        top 0.5s ease-in-out;
    /* left: -50%; */
    justify-content: center;
    text-align: center;
}

.link.inline:hover a+* a {
    display: relative;
    position: absolute;
    flex-basis: 0px;
    transition: 
        top 0.5s ease-in-out;
    margin: 0px;
    top: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
    padding: 0px;
}

/* Make project divs hit testable */
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.project.shown a.fill-div {
    height: 0%;
    width: 0%;
}


/* Project Divs */
.project {
    display:block;
    position: relative;
    float: none;
    width: 100%;
    border: 0px;
    padding: 0%;
    /* background-color: lightblue; */
    transition: 
        max-height 0.5s ease-in-out, 
        background-color 0.5s ease-in-out;
        
    background-color: var(--bg-color);
}

.project:not(.shown) {
    overflow: hidden;
    max-height: 200px;
}
.project.shown {
    /* overflow-y: visible; */
    max-height: 720px;
    height: 100%;
}

@property --gradient-inner {
    syntax: '<percentage>';
    initial-value: 40%;
    inherits: false;
}
@property --gradient-outer {
    syntax: '<percentage>';
    initial-value: 40%;
    inherits: false;
}


.teaser::before {
    --gradient-inner: 40%;
    --gradient-outer: 90%;

    overflow: hidden;
    position: absolute;
    content: '';
    background-image: radial-gradient(
        rgba(255, 255, 255, 0) var(--gradient-inner), 
        rgb(0, 0, 0, 0.8) var(--gradient-outer)
    );
    height: 200px;
    width: 100%;
    /* pointer-events: none; */
    pointer-events: visible;
    z-index: 10;

    transition: 
        --gradient-inner 0.5s ease-in-out,
        --gradient-outer 0.5s ease-in-out;
}

.teaser:hover::before{
    --gradient-inner: 100%;
    --gradient-outer: 120%;
    transition: 
        --gradient-inner 0.5s ease-in-out,
        --gradient-outer 0.5s ease-in-out;
}


.title {
    position: relative;
    display: flex;
    font-size: 48px;
    color: rgba(173, 233, 221);

    text-shadow:
        1px 1px 10px cyan, 
        -1px -1px 10px lightcoral, 
        0px 0px 4px black;

    top: -200px;
    height: 200px;
    width: 100%;
    pointer-events: none;
    z-index: 20;

    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: rgba(41, 41, 41, 0.5);
}

.teaser {
    display:block;
    height: 200px;
    width: 100%;
    opacity: 1;  
    pointer-events: none;
}

.teaser img {
    margin-left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.project.shown .teaser {
    opacity: 0;
    height: 0%;
    width: 0%;
    position: absolute;
    overflow: hidden;
}

/* 
.project:has(+ .project.shown) {
    background-color: red;
}
.project.shown + .project {
    background-color: red;
} */

.project-content {
    display:flex;
    flex-direction: row;

    font-size: 28px;
    align-content: center;
    text-align: center;

    width:100%;
    height:100%;
}

/* project iframe needs 1200px width exactly */
.project-content iframe {
    flex: 0 0 1200px;
}

.project-title {
    display:flex;
    justify-content: center;
    /* width: 100%; */
    font-size: 46px;
    align-content: center;
    text-align: center;
    margin: 1% 2% 0.5% 2%;
}
.project-subtitle {
    display:flex;
    justify-content: center;
    /* width: 100%; */
    font-size: 24px;
    align-content: center;
    text-align: center;
    margin: 0.5% 2% 2% 2%;
}


.project-links {
    display:flex;
    justify-content: center;
    font-size:24px;
}

.project-links .link {
    margin: 5px;
}


.project-body {
    display:flex;
    flex-direction: column;
    text-align: left;
}

.scroll {
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    height: 720px;
}

.project-text {
    display:flex;
    flex-direction: column;
    align-content: center;

    color:aliceblue;
    
    width: 100%;
    height: 100%;
    font-size: 22px;
    align-content: center;
    text-align: center;
    margin: 1%;
}


.img-table {
    table-layout: fixed;
    height: 720px;
    margin: 0;
    border: 0;
    border-spacing: 0px;
}

.img-table * {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.img-table img {
    height: 360px;
}